*:not(.dark-mode-toggle) {
    transition: all 3s;
}


#cloud1 {
    animation: cloud1 6s infinite;
}
#cloud2 {
    animation: cloud2 6s infinite;
}
#cloud3 {
    animation: cloud3 6s infinite;
}
#cloud4 {
    animation: cloud4 6s infinite;
}
#cloud5 {
    animation: cloud5 6s infinite;
}
#cloud6 {
    animation: cloud6 6s infinite;
}
@keyframes cloud1 {
    0% {
        margin: -400px -300px;
    }
    50% {
        margin: -400px -100px;
    }
    100% {
        margin: -400px -300px;
    }
}
@keyframes cloud2 {
    0% {
        margin: -430px -325px;
    }
    50% {
        margin: -430px -125px;
    }
    100% {
        margin: -430px -325px;
    }
}
@keyframes cloud3 {
    0% {
        margin: -380px -375px;
    }
    50% {
        margin: -380px -175px;
    }
    100% {
        margin: -380px -375px;
    }
}
@keyframes cloud4 {
    0% {
        margin: -200px 600px;
    }
    50% {
        margin: -200px 400px;
    }
    100% {
        margin: -200px 600px;
    }
}
@keyframes cloud5 {
    0% {
        margin: -230px 675px;
    }
    50% {
        margin: -230px 475px;
    }
    100% {
        margin: -230px 675px;
    }
}
@keyframes cloud6 {
    0% {
        margin: -180px 675px;
    }
    50% {
        margin: -180px 475px;
    }
    100% {
        margin: -180px 675px;
    }
}
@keyframes sun-rotation {
    to {
        transform: rotate(360deg);
    }
}
:root {
    body  {
        background: #D6E5FA;
    }
    #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6 {
        background: white;
    }
    .dark-mode-toggle, .dark-mode-toggle:before, .dark-mode-toggle:after {
        background: #FFFFDE;
    }
    #circle {
        background: #748DA6;
    }
    #house {
        background: #B2C8DF;
    }
    #window {
        background: linear-gradient(45deg,#D6E5FA,white);
    }
    #door {
        background: #DAEAF1;
    }
    #roof {
        border-bottom: 50px solid #748DA6;
    }
    #tree1, #tree3, #tree4 {
        border-bottom: 120px solid #9CB4CC;
    }
    #tree2, #tree5 {
        background: #F9CEEE;
    }
    #stump1, #stump2, #branch1, #branch2, #branch3 {
        background: #FFE6E6;
    }
    body {
        width: 100vw;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6 {
        position: absolute;
        z-index: 1;
    }
    #house, #tree1, #tree2, #tree3, #tree4, #tree5 {
        position: absolute;
    }
    .dark-mode-toggle {
        width: 80px;
        height: 80px;
        position: relative;
        text-align: center;
        margin: 45vh auto;
        padding: 0 auto;
        border: none;
        animation: sun-rotation 6s infinite;
    }
    .dark-mode-toggle:before,
    .dark-mode-toggle:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
    }
    .dark-mode-toggle:before {
        transform: rotate(30deg);
    }
    .dark-mode-toggle:after {
        transform: rotate(60deg);
    }
    .dark-mode-toggle:hover {
        cursor: pointer;
    }
    #circle {
        width: 500px;
        height: 250px;
        border-radius: 250px 250px 0 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        margin-top: -100px;/* Negative half of height. */
        margin-left: -250px;/* Negative half of width. */
    }
    #cloud1 {
        width: 200px;
        height: 70px;
        border-radius: 50px;
        margin: -400px -300px;
    }
    #cloud2 {
        width: 150px;
        height: 100px;
        border-radius: 50px;
        margin: -430px -325px;
    }
    #cloud3 {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        margin: -380px -375px;
    }
    #cloud4 {
        width: 200px;
        height: 70px;
        border-radius: 50px;
        margin: -200px 600px;
    }
    #cloud5 {
        width: 150px;
        height: 100px;
        border-radius: 50px;
        margin: -230px 675px;
    }
    #cloud6 {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        margin: -180px 675px;
    }
    #house {
        width: 100px;
        height: 50px;
        margin: -25px 200px;
    }
    #window {
        width: 25px;
        height: 25px;
        margin: 12.5px 10px;
    }
    #door {
        width: 25px;
        height: 40px;
        margin: -40px 60px;
    }
    #roof {
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        margin: -100px -10px;
    }
    #tree1 {
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        margin: -50px 100px;
    }
    #stump1 {
        width: 5px;
        height: 90px;
        border-radius: 50px;
        margin: 55px -2.5px;
    }
    #branch1 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0 5px;
    }
    #branch2 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(-45deg);
        margin: 0 -5px;
    }
    #branch3 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0px 5px; 
    }
    #tree2 {
        width: 65px;
        height: 120px;
        border-radius: 60% 60% 60% 60% / 80% 80% 40% 40%;
        margin: -25px 350px;
    }
    #stump2 {
        width: 5px;
        height: 90px;
        border-radius: 50px;
        margin: 55px auto;
    }
    #branch1 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0 5px;
    }
    #branch2 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(-45deg);
        margin: 0 -5px;
    }
    #branch3 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0px 5px; 
    }
    #tree3 {
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        margin: 50px 420px;
    }
    #stump1 {
        width: 5px;
        height: 90px;
        border-radius: 50px;
        margin: 55px -2.5px;
    }
    #branch1 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0 5px;
    }
    #branch2 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(-45deg);
        margin: 0 -5px;
    }
    #branch3 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0px 5px; 
    }
    #tree4 {
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        margin: 50px 0px;
    }
    #stump1 {
        width: 5px;
        height: 90px;
        border-radius: 50px;
        margin: 55px -2.5px;
    }
    #branch1 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0 5px;
    }
    #branch2 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(-45deg);
        margin: 0 -5px;
    }
    #branch3 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0px 5px; 
    }
    #tree5 {
        width: 65px;
        height: 120px;
        border-radius: 60% 60% 60% 60% / 80% 80% 40% 40%;
        margin: 75px 75px;
    }
    #stump2 {
        width: 5px;
        height: 90px;
        border-radius: 50px;
        margin: 55px auto;
    }
    #branch1 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0 5px;
    }
    #branch2 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(-45deg);
        margin: 0 -5px;
    }
    #branch3 {
        width: 5px;
        height: 20px;
        border-radius: 50px;
        transform: rotate(45deg);
        margin: 0px 5px; 
    }
}
.dark-mode {
    background: #282D4F !important;
    #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6 {
        background: white;
    }
    .view {
        color: #748DA6;
    }
    .dark-mode-toggle {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        background-color: #FFFAD7;
        border: none;
        box-shadow: 0 0 40px 10px #FFFAD7;
    }
    .dark-mode-toggle:before, .dark-mode-toggle:after {
        display: none;
    }
    #circle {
        background: #404B69;
    }
    #house {
        background:#BDBDD7;
    }
    #window {
        width: 25px;
        height: 25px;
        background: #FFF6BF;
        box-shadow: 0px 0px 20px 5px #FFF6BF;
        margin: 12.5px 10px;
    }
    #door {
        background: #283149;
    }
    #roof {
        border-bottom: 50px solid #404B69;
    }
    #tree1, #tree3, #tree4 {
        border-bottom: 120px solid #BDBDD7;
    }
    #tree2, #tree5 {
        background: #834C69;
    }
    #stump1, #stump2, #branch1, #branch2, #branch3 {
        background: #E6F5FF;
    }
}

